{% extends "bootstrap/base.html" %}

{% block content %}
<center><h1>Toptrend Thailand</h1></center>
<div class="alert alert-success" role="alert">
  <a href={{Url[0]}} class="alert-link"><center>{{Order[0]}})&emsp;&emsp;{{Hastag[0]}}&emsp;&emsp;{{Volumns[0]}}</center></a>
</div>
<div class="alert alert-info" role="alert">
  <a href={{Url[1]}} class="alert-link"><center>{{Order[1]}})&emsp;&emsp;{{Hastag[1]}}&emsp;&emsp;{{Volumns[1]}}</center></a>
</div>
<div class="alert alert-warning" role="alert">
  <a href={{Url[2]}} class="alert-link"><center>{{Order[2]}})&emsp;&emsp;{{Hastag[2]}}&emsp;&emsp;{{Volumns[2]}}</center></a>
</div>
<div class="alert alert-danger" role="alert">
  <a href={{Url[3]}} class="alert-link"><center>{{Order[3]}})&emsp;&emsp;{{Hastag[3]}}&emsp;&emsp;{{Volumns[3]}}</center></a>
</div>
<div class="alert alert-success" role="alert">
  <a href={{Url[4]}} class="alert-link"><center>{{Order[4]}})&emsp;&emsp;{{Hastag[4]}}&emsp;&emsp;{{Volumns[4]}}</center></a>
</div>
<div class="alert alert-info" role="alert">
  <a href={{Url[5]}} class="alert-link"><center>{{Order[5]}})&emsp;&emsp;{{Hastag[5]}}&emsp;&emsp;{{Volumns[5]}}</center></a>
</div>
<div class="alert alert-warning" role="alert">
  <a href={{Url[6]}} class="alert-link"><center>{{Order[6]}})&emsp;&emsp;{{Hastag[6]}}&emsp;&emsp;{{Volumns[6]}}</center></a>
</div>
<div class="alert alert-danger" role="alert">
  <a href={{Url[7]}} class="alert-link"><center>{{Order[7]}})&emsp;&emsp;{{Hastag[7]}}&emsp;&emsp;{{Volumns[7]}}</center></a>
</div>
<div class="alert alert-success" role="alert">
  <a href={{Url[8]}} class="alert-link"><center>{{Order[8]}})&emsp;&emsp;{{Hastag[8]}}&emsp;&emsp;{{Volumns[8]}}</center></a>
</div>
<div class="alert alert-info" role="alert">
  <a href={{Url[9]}} class="alert-link"><center>{{Order[9]}})&emsp;&emsp;{{Hastag[9]}}&emsp;&emsp;{{Volumns[9]}}</center></a>
</div>
<div class="alert alert-warning" role="alert">
  <a href={{Url[10]}} class="alert-link"><center>{{Order[10]}})&emsp;&emsp;{{Hastag[10]}}&emsp;&emsp;{{Volumns[10]}}</center></a>
</div>
<div class="alert alert-danger" role="alert">
  <a href={{Url[11]}} class="alert-link"><center>{{Order[11]}})&emsp;&emsp;{{Hastag[11]}}&emsp;&emsp;{{Volumns[11]}}</center></a>
</div>
<div class="alert alert-success" role="alert">
  <a href={{Url[12]}} class="alert-link"><center>{{Order[12]}})&emsp;&emsp;{{Hastag[12]}}&emsp;&emsp;{{Volumns[12]}}</center></a>
</div>
<div class="alert alert-info" role="alert">
  <a href={{Url[13]}} class="alert-link"><center>{{Order[13]}})&emsp;&emsp;{{Hastag[13]}}&emsp;&emsp;{{Volumns[13]}}</center></a>
</div>
<div class="alert alert-warning" role="alert">
  <a href={{Url[14]}} class="alert-link"><center>{{Order[14]}})&emsp;&emsp;{{Hastag[14]}}&emsp;&emsp;{{Volumns[14]}}</center></a>
</div>
<div class="alert alert-danger" role="alert">
  <a href={{Url[15]}} class="alert-link"><center>{{Order[15]}})&emsp;&emsp;{{Hastag[15]}}&emsp;&emsp;{{Volumns[15]}}</center></a>
</div>
<div class="alert alert-success" role="alert">
  <a href={{Url[16]}} class="alert-link"><center>{{Order[16]}})&emsp;&emsp;{{Hastag[16]}}&emsp;&emsp;{{Volumns[16]}}</center></a>
</div>
<div class="alert alert-info" role="alert">
  <a href={{Url[17]}} class="alert-link"><center>{{Order[17]}})&emsp;&emsp;{{Hastag[17]}}&emsp;&emsp;{{Volumns[17]}}</center></a>
</div>
<div class="alert alert-warning" role="alert">
  <a href={{Url[18]}} class="alert-link"><center>{{Order[18]}})&emsp;&emsp;{{Hastag[18]}}&emsp;&emsp;{{Volumns[18]}}</center></a>
</div>
<div class="alert alert-danger" role="alert">
  <a href={{Url[19]}} class="alert-link"><center>{{Order[19]}})&emsp;&emsp;{{Hastag[19]}}&emsp;&emsp;{{Volumns[19]}}</center></a>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
{% endblock %}